/* -----Style copied from basic-portfolio-bootstrap------ */

/* Move down content because we have a fixed navbar*/
.wrapper {
  flex: 1;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: calc(70px + 4vw);
  padding-bottom: calc(60px + 1vw);
  background-image: url("../images/regal.png");
}

nav {
  background-color: #4aaaa5;
  border-bottom: 8px double #d8d8d8;
}

/* Panels*/

.panel-background{
  background-color: #fff;
  border: 1px solid #eee;
  padding: 5%;
}

/* Sticky footer styles */
html {
  position: absolute;
  min-width: 400px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #666;
}
footer p {
  margin-bottom: 0;
  color: #999;
  font-size: calc(10px + 0.5vw);
}

/*Text styling*/
.navbar-brand {
  font-size: 26px;
  line-height: 40px;
  padding: 10px 0 5px 15px;
}

h2, h4, .navbar-brand {
  font-family: 'Georgia', Times, Times New Roman, serif;
}

p, a, h3,h5 {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

h2 {
  font-size: calc(16px + 1vw);
  color: #4aaaa5;
}

h3 {
  font-size: calc(14px + 1vw);
  text-align: center;
}

h4 {
  font-size: calc(14px + 0.5vw);
  color: #4aaaa5;
}

h5 {
  color: #fff;
  font-size: calc(12px + 0.5vw);
  text-align: center;
}

p {
  font-size: calc(12px + 0.5vw);
  color: #777;
}
/*aside image sizing */
aside img {
  width: 100%;
}

aside img:hover {
  filter: drop-shadow(8px 8px 8px grey);
}

/* ------Hangman Site Only Style ------*/


/*sizing and positioning of hangman image*/
.frame {
    margin: auto;
    overflow: hidden;
    width: 75%;
}

#hangman-img {
  width: 700%;
}

/*add spacing between letters*/
#phraseDisp {
  letter-spacing: 10px;
  word-spacing: 10px;
  font-size: calc(18px + 1vw);
  color: #cc0033;
  text-align: center;
}

/*Win / Lose Messages*/
#win, #lose {
  padding: 30px;
  background-color: #4aaaa5;
  color: #fff;
  font-weight: bold;
  border: 2px dotted #fff;
  display: none;
}